* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    flex-direction: row;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ebefef;
}

.card-header {
    display: block;
    text-align: center;
    background-color: #bfff00;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.card-content {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.label-checkbox {
    padding: 5px;
    display: flex;
    justify-content:space-between;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.label-select {
    padding: 5px;
    display: flex;
    justify-content:space-between;
}

.label-select select {
    width: 30%;
    /* padding: 5px; */
    box-sizing: border-box;
}

.table-card {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Gill Sans", sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.table-card input[type="text"],
.table-card select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.clear-button {
    background-color: #36cef4;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
}

.clear-button:hover {
    background-color: #09ccfd;
}

.addrow {
    display: flex;
    justify-content: center;
}

.addrow-button {
    background-color: #36bef4;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.addrow-button:hover {
    background-color: #00b7ff;
}