* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 210px;
    background-color: #ebefef;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    transition: all 0.1s;
}

.sidebar-header {
    display: flex;
    align-items: center;
    background-color: #050505;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.sidebar-title {
    margin-left: 15px;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar.collapsed .tab span,
.sidebar.collapsed .sidebar-title {
    display: none;
}

.menu-icon {
    margin-left: 5px;
    cursor: pointer;
}

.tab {
    display: flex;
    align-items: center;
    /* width: 210px; */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s;
    min-height: 40px;
}

.tab.logout {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover,
.tab.logout:hover {
    background-color: #bfff00;
}

.tab img {
    margin-right: 10px;
}

main {
    flex: 1;
    background-color: #ffffff;
    margin: 50px;
}

.selected-tab {
    background-color: #bfff00; 
    min-height: 40px;
}

/* Apply mobile-friendly styles for screens with a max-width of 768px */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack sidebar and main content for smaller screens */
    }

    main {
        margin: 0;
    }

    .sidebar {
        width: 100%; 
    }

    .sidebar.collapsed {
        width: 100%; 
    }

    .tab {
        width: 100%;
    }

    .tab.logout {
        margin-top: 10px; 
    }

    .tab img {
        margin-right: 5px; 
    }
}
