* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 210px;
    background-color: #ebefef;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    transition: all 0.1s;
}

.sidebar-header {
    display: flex;
    align-items: center;
    background-color: #050505;
    color: #fff;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.sidebar-title {
    margin-left: 15px;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar.collapsed .tab span,
.sidebar.collapsed .sidebar-title {
    display: none;
}

.menu-icon {
    margin-left: 5px;
    cursor: pointer;
}

.tab {
    display: flex;
    align-items: center;
    width: 210px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab.logout {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover,
.tab-logout:hover {
    background-color: #bfff00;
}

.tab img {
    margin-right: 10px;
}

main {
    flex: 1;
    background-color: #ffffff;
    margin: 50px;
}

/* Apply mobile-friendly styles for screens with a max-width of 768px */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Stack sidebar and main content for smaller screens */
    }

    .sidebar {
        width: 100%; /* Take up the full width on smaller screens */
    }

    .sidebar.collapsed {
        width: 100%; /* Keep it full width when collapsed */
    }

    .tab {
        width: 100%; /* Make the tabs full width on smaller screens */
    }

    .tab.logout {
        margin-top: 10px; /* Add some space between the last tab and the logout tab */
    }

    .tab img {
        margin-right: 5px; /* Reduce the margin for icons */
    }

    .card-container {
        margin: 20px; /* Increase the margin for card containers */
    }

    .card-content input[type="text"],
    input[type="password"] {
        width: 100%; /* Make the inputs full width on smaller screens */
        margin: 5px 0; /* Add vertical margin between inputs */
    }

    .input-config {
        flex-direction: column; /* Stack input fields for static IP and gateway vertically on smaller screens */
    }

    .input-config input {
        width: 100%; /* Make the inputs full width within their container */
    }
}
