* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    flex-direction: row;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #dadddb;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.card-header {
    display: block;
    text-align: center;
    background-color: #bfff00;
    color: #111827;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.card-content span {
    color: #111827;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 5px;
    margin-left: 3px;
}

.label-checkbox {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.label-select {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.label-select select {
    width: 30%;
    /* padding: 5px; */
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.table-card {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.table-card input[type="text"],
.table-card input[type="number"],
.table-card select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.action-button {
    display: flex;
    flex-direction: row;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.clear-button {
    background-color: #36cef4;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
}

.clear-button:hover {
    background-color: #44bddb;
}

.addrow {
    display: flex;
    justify-content: center;
}

.addrow-button {
    background-color: #36bef4;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.addrow-button:hover {
    background-color: #00b7ff;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reset-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px 10px 10px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.save-button {
    background-color: #14c60b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 10px 5px 10px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #000000;
}

.save-button:hover {
    background-color: #000000;
}

.invalid-input {
    border: 1px solid red !important;
}